
.resaltar {
    background-color: #8c00ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resaltar:hover {
    background-color: #480188;
}

.progreso-compra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
}

.etapa {
    text-align: center;
    flex: 1; /* Cada etapa ocupa el mismo espacio */
}

.etapa-icono {
    font-size: 2rem;
    margin-bottom: 5px;
    border: 1px solid #003366;
    border-radius: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

.etapa-icono:hover {
    background-color: #3399cc;
    color: white;
}

p {
    margin-top: 5px;
    color: #003366;
}


.contenedor {
    display: flex;
    margin: 20px 0;
}

.producto {
    width: 65%;
    background-color: #fff;
    margin-left: 200px;
    margin-right: 50px;
    margin-top: 20px;  /* Espacio arriba */
    margin-bottom: 20px;  /* Espacio abajo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


.producto h2 {
    margin-top: 10px;
    color: #333;
}

.producto .precio {
    margin-top: 10px;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
}

.producto .descripcion {
    margin-top: 10px;
    color: #555;
}

.producto .caracteristicas {
    margin-top: 10px;
    font-weight: bold;
}

.producto ul {
    margin-top: 10px;
    padding-left: 20px;
}

.producto ul li {
    margin-bottom: 5px;
    color: #555;
}

/* Resumen de la compra */
.resumen-compra {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    height: 200px; /* Establece una altura fija */
    background-color: #fff;
    border-radius: 10px;
}


.checkout-btn {
    background-color: #027ef3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%;
}

.checkout-btn:hover {
    background-color: #005bb5;
}

/*Alerta*/
.custom-alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-alert .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-alert .closebtn:hover {
    color: black;
}

.alert-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.alert-buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alert-buttons button:hover {
    background-color: #45a049;
}



