/* Botón de destacar */
.resaltar {
    background-color: #8c00ff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resaltar:hover {
    background-color: #480188;
}

/* Barra de progreso */
.progreso-compra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
}

.etapa {
    text-align: center;
    flex: 1;
}

.etapa-icono {
    font-size: 2rem;
    margin-bottom: 5px;
    border: 1px solid #003366;
    border-radius: 10px;
    padding: 10px;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}

.etapa-icono:hover {
    background-color: #3399cc;
    color: white;
}

p {
    margin-top: 5px;
    color: #003366;
}

/* Contenedor principal */
.contenedor {
    display: flex;
    justify-content: space-between; /* Espaciado entre columnas */
    align-items: flex-start; /* Alinea los elementos en la parte superior */
    gap: 20px; /* Espaciado entre las columnas */
    margin-left: 10%;
    margin-right: 10%;
}


/* Producto */
.producto {
    flex: 2; /* Ocupa más espacio relativo que el resumen */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.producto h2 {
    margin-top: 10px;
    color: #333;
}

.producto .precio {
    margin-top: 10px;
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
}

.producto .descripcion {
    margin-top: 10px;
    color: #555;
}

.producto .caracteristicas {
    margin-top: 10px;
    font-weight: bold;
}

.producto ul {
    margin-top: 10px;
    padding-left: 20px;
}

.producto ul li {
    margin-bottom: 5px;
    color: #555;
}

/* Resumen de la compra */
.resumen-compra {
    flex-shrink: 0; /* Evita que crezca en altura */
    max-width: 350px; /* Limita el ancho máximo */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch; /* Mantiene el ancho total */
}

.resumen-compra h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
}

.checkout-btn {
    background-color: #027ef3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    margin-top: 20px;
    width: 100%; /* Asegura que ocupe todo el ancho */
}

.checkout-btn:hover {
    background-color: #005bb5;
}

/* Alerta personalizada */
.custom-alert {
    padding: 20px;
    background-color: #3639f4;
    color: white;
    margin-bottom: 15px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-alert .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.custom-alert .closebtn:hover {
    color: black;
}

.alert-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.alert-buttons button {
    background-color: #eef1ee;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alert-buttons button:hover {
    background-color: #a0a2a0;
}

/* alerta */
.alert {
    padding: 20px;
    margin: 15px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease-out;
}

.alert.success {
    background-color: #4CAF50; /* Verde para éxito */
    color: white;
}

.alert.error {
    background-color: #f44336; /* Rojo para error */
    color: white;
}

.alert .closebtn {
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.alert .closebtn:hover {
    color: black;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}



