/* General */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Chat Container */
.chat-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Lista de Chats */
.chat-list {
    width: 30%;
    background-color: rgb(188, 223, 255);
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.chat-list h3 {
    text-align: center;
    padding: 10px;
    background-color: rgb(2, 126, 243);
    color: white;
}

.chat-list ul {
    list-style: none;
    padding: 10px;
}

.chat-list ul li {
    padding: 15px;
    cursor: pointer;
    background-color: rgb(228, 237, 247);
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

.chat-list ul li:hover {
    background-color: rgb(180, 200, 219);
}

.chat-list ul li.active {
    background-color: rgb(2, 126, 243);
    color: white;
}

/* Ventana de Chat */
.chat-window {
    width: 70%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background-color: rgb(2, 126, 243);
    padding: 10px;
    color: white;
    text-align: center;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff;
}

.message {
    margin-bottom: 10px;
    max-width: 60%;
    padding: 10px;
    border-radius: 5px;
    position: relative;
}

.message .sender {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 5px;
    color: #0056b3;
}

.message.sent {
    background-color: rgb(2, 126, 243);
    color: white;
    align-self: flex-end;
}

.message.received {
    background-color: rgb(228, 237, 247);
    align-self: flex-start;
}

/* Input de Mensajes */
.chat-input {
    display: flex;
    padding: 10px;
    background-color: rgb(196, 217, 237);
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-input button {
    background-color: rgb(0, 104, 202);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.chat-input button:hover {
    background-color: rgb(0, 91, 175);
}

.hidden {
    display: none;
}
