body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    color: #333;
}

.chat-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 25%;
    max-width: 250px;
    background: #ffffff;
    border-right: 1px solid #ccc;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #333;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    color: #333;
}

.sidebar li:hover {
    background: #efefef;
}

.sidebar li.active {
    background: #c4d9ed;
    font-weight: bold;
}

.chat-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
}

.chat-header {
    background: rgb(2, 126, 243);
    color: #fff;
    padding: 20px;
    font-size: 1.2em;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    background: #ffffff;
}

.message {
    margin-bottom: 15px;
    max-width: 80%;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    clear: both;
}

.message .sender {
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.message .time {
    font-size: 0.8em;
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: #555;
}

.message.sent {
    background: #c4d9ed;
    margin-left: auto;
    text-align: right;
}

.sent .time {
    left: 5px;
    right: auto;
    text-align: left;
}

.message.received {
    background: #ededed;
    margin-right: auto;
    text-align: left;
}

.chat-input {
    display: flex;
    border-top: 1px solid #ccc;
    background: #fff;
    padding: 10px;
    box-sizing: border-box;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
    color: #333;
}

.chat-input button {
    background: rgb(2, 126, 243);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.chat-input button:hover {
    background: #035daf;
}

