/* Contenedor principal de contacto */
.contact-container {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(188, 223, 255);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(2, 126, 243);
}

.contact-container h2 {
    color: black;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

.contact-container label {
    font-weight: bold;
    color: black;
    margin-top: 10px;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 2px solid rgb(0, 104, 202);
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.contact-container input:focus,
.contact-container textarea:focus {
    border-color: rgb(0, 91, 175);
}

.contact-container button {
    background-color: rgb(blue);
}