/* CABECERA 1- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f1d3b9;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #d97e3d;
    border-bottom: 1px solid white;
}

.premium-btn {
    background-color: darkgoldenrod;
    color: white;
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 75px;
}

.premium-btn:hover {
    background-color: goldenrod;
}

.header-marquee {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 10px;
    color: #ffd700;
}

.profile-search {
    display: flex;
    align-items: center;
}

.profile-btn {
    /*background-color: white;*/
    background-image: url("/src/public/Imagenes/avatar.jpg");
    background-size: cover;
    border: 2px solid black;
    padding: 25px 25px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 75px;
    color: black;
}

.search-bar {
    border: 2px solid black;
    text-align: center;
    padding: 8px 30px;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-right: 20px;
}

.search-bar:focus {
    border-color: #3399cc; /* Azul claro al enfocar */
}

#navegator {
    display: flex;
    justify-content: space-evenly;
    background-color: #838383;
}

.even-nav {
    width: 100%;
    display: flex;
}

.nav-buttons {
    flex: 1;
    background-color: #838383;
    cursor: pointer;
    color: white;
}
nav button:hover {
    background-color: #757575; /* Azul más oscuro al pasar el ratón */
}

.nav-buttons, .logo {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

nav .logo img {
    height: 75px;
    width: auto;
}

/* CABECERA */
/* Estilos generales */


.contenedor-filtro {
    display: flex;
    flex-direction:row;
    max-width: 80%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
}

#equipo-necesario, #objetivo, #dificultad{
    margin-left: 5%;
}


/* Estilos de la selección personalizada */
.custom-select {
    position: relative;
    width: 100%;
}

.select-box {
    max-width: 100%;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.select-box .arrow {
    font-size: 12px;
}


.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    padding: 10px;
}

.show {
    display: block;
}

.dropdown label {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-size: 14px;
}

.dropdown label input[type="checkbox"] {
    margin-right: 8px;
}

/*Ejercicios*/
.contenedor-ejercicios {
    display: flex;
    flex-direction:row;
    max-width: 80%;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.contenedor-ejercicios h3 {
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%; /* Se asegura que el h3 ocupe el 100% */
    box-sizing: border-box; /* Asegura que el padding y el border estén dentro del ancho total */
}