/* inicio.css */
html, body {
    height: 100%; /* Asegura que html y body ocupen toda la altura de la ventana */
    margin: 0; /* Elimina márgenes predeterminados */
}

body {
    display: flex;
    flex-direction: column; /* Apila los elementos de arriba hacia abajo */
    min-height: 100vh; /* Asegura que el body ocupe al menos toda la altura de la ventana */
}

main {
    flex-grow: 1; /* Hace que el main crezca y ocupe el espacio disponible */
}

footer {
    background-color: rgb(2, 126, 243);
    color: rgb(196, 217, 237);
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    position: relative; /* Necesario para que z-index funcione */
    z-index: 100; /* Asegura que el footer esté por encima de otros elementos */
}

footer a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, text-decoration 0.3s ease; /* Para suavizar el cambio de color y subrayado */
}

footer a.footer-enlace:hover {
    text-decoration: underline;
    color: rgb(154, 233, 233); /* El color del enlace al pasar el cursor */
}