* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(2, 126, 243);
    border-bottom: 1px solid white;
}

.premium-btn {
    background-color: rgb(0, 104, 202);
    color: rgb(255, 251, 0);
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 75px;
}

.premium-btn:hover {
    background-color: rgb(0, 91, 175);
}

.header-marquee {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 10px;
    color: rgb(255, 251, 0);
}

.profile-search {
    display: flex;
    align-items: center;
}

.profile-btn {
    background-size: cover;
    border: 2px solid black;
    padding: 25px 25px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 75px;
    color: black;
    background-image: url("../Imagenes/avatar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.search-bar {
    border: 2px solid black;
    text-align: center;
    padding: 8px 30px;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-right: 20px;
}

.search-bar:focus {
    border-color: #3399cc;
}

#navegator {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(196, 217, 237)
}


.even-nav {
    width: 100%;
    display: flex;
}

.nav-buttons {
    flex: 1;
    background-color: rgb(196, 217, 237);
    cursor: pointer;
    color: black;
}
nav button:hover {
    background-color: rgb(180, 200, 219); 
}

.nav-buttons, .logo {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

nav .logo img {
    height: 75px;
    width: auto;
}

/* Contenedor main */

.contenedor {
    width: 90%;               
    max-width: 80%;
    margin-left: 10%;        
    padding: 1%;            
    background-color: #fff;  
    border-radius: 8px;     
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    flex-direction: column;
    margin-top: 2.5%;
}

#preparacion{
    margin-top: 1%;
}

#ejecucion{
    margin-top: 1%;
}

#consejos {
    margin-top: 1%;
    margin-bottom: 5%;
}

h1 {
    font-size: 2rem;        
    font-weight: bold;       
    color: #333;         
    text-align: center;          
    margin-bottom: 20px;        
    text-transform: uppercase; 
    letter-spacing: 1px;       
}

/* Información lateral del ejercicio */

.info {
    width: 40%;
    display:inline-block;
    flex-direction: column;
    gap: 10px;
    margin-left: 10%;
}

.info-item {
    padding: 2%;
    border: 1px solid #ccc;
    margin-top: 2%;
}

/* Información en los contenedores de abajo */

.contenedor .linea {
    border: 1px solid black;
    width: 100%;
    margin: 0; 
}

ol {
    margin-left: 1.5%;
}
/* footer */

footer {
    background-color: rgb(2, 126, 243);
    color: rgb(196, 217, 237);
    text-align: center;
    padding: 10px;
    width: 100%;
    /*
        Poner el footer abajo de la pantalla fijo: position: fixed; bottom: 0;
    */
}

footer a {
    color: white;
    text-decoration: none;
}

footer a.footer-enlace:hover {
    text-decoration: underline;
    color: rgb(154, 233, 233);
}