/* Contenedor main */

.contenedor {
    width: 90%;               /* Ancho del contenedor */
    max-width: 80%;
    margin-left: 10%;        /* Ancho máximo del contenedor */
    padding: 1%;            /* Espaciado interno */
    background-color: #fff;   /* Fondo blanco */
    border-radius: 8px;       /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para el contenedor */
    flex-direction: column;
    margin-top: 2.5%;
}

#preparacion{
    margin-top: 1%;
}

#ejecucion{
    margin-top: 1%;
}

#consejos {
    margin-top: 1%;
    margin-bottom: 5%;
}

h1 {
    font-size: 2rem;            /* Tamaño de la fuente */
    font-weight: bold;            /* Texto en negrita */
    color: #333;                  /* Color del texto */
    text-align: center;           /* Centrado del texto */
    margin-bottom: 20px;          /* Espaciado inferior */
    text-transform: uppercase;    /* Texto en mayúsculas */
    letter-spacing: 1px;          /* Espaciado entre letras */
}

/* Información lateral del ejercicio */

.info {
    width: 50%;
    display:inline-block;
    flex-direction: column;
    gap: 10px;
    margin-left: 10%;
}

.info-item {
    padding: 2%;
    border: 1px solid #ccc;
    margin-top: 2%;
}

/* Información en los contenedores de abajo */

.contenedor .linea {
    border: 1px solid black;
    width: 100%;
    margin: 0; /* ajusta el margen si necesitas */
}

 ol {
    padding-left: 2%;
}

.contenedor img {
    height: auto; 
    width: 30%;
    object-fit: contain;
}