*{
    user-select: none;
}

html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

body {
    background-image: url('../Imagenes/registro_imagen.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#header {
    display: flex;
    align-items: center;
    background: linear-gradient(to bottom, rgb(196, 217, 237) 10%, rgba(76, 175, 80, 0) 100%);
    height: 12%;
    padding: 0 20px;
}

.logo {
    height: auto;
    max-height: 80%;
    width: auto;
}

.header-title {
    color: white;
    font-size: 24px;
    margin: 0;
}

#central {
    display: flex;
    height: 72%;
}

#left-div {
    width: 50%;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

#div-texto {
    font-family: 'Dancing Script', cursive;
    width: 80%;
    height: 80%;
    display: flex;
    font-size: 3.8rem;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    color: rgb(162, 162, 39);
    text-shadow: 2px 2px 4px rgb(100, 100, 5);
    text-align: center;
    overflow-wrap: break-word;
    padding: 10px;
    text-shadow: 
        -1px -1px 0 rgb(234, 0, 255)
        1px -1px 0 rgb(234, 0, 255)
        -1px 1px 0 rgb(234, 0, 255)
        1px 1px 0 rgb(234, 0, 255)
}


#right-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0;
}

.inner-div {
    height: auto;
    width: 70%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.info-cuenta-div {
    margin-top: 10px;
    height: 20%;
    width: 100%;
    text-align: center;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

#div-iniciar-sesion, #div-crear-cuenta {
    display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:9em;
	height:2em;
	background:#ccc;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;
}

#div-iniciar-sesion:hover, #div-crear-cuenta:hover {
    border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}

#formulario {
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-height: 290px;
    height: auto;
}

#formulario label {
    font-weight: bold;
}

#formulario input[type="nombre_usuario"],
#formulario input[type="email"],
#formulario input[type="password"],
#formulario input[type="text"] {
    margin: 5px 0;
    width: 90%;
}

#formulario button {
    padding: 10px 15px;
    background-color: rgb(184, 181, 11);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formulario button:hover {
    background-color: rgb(146, 144, 12);
}

.terms-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contraseña {
    display: flex;
    align-items: center;
    position: relative;
}

.pass{
    height: auto;
    font-size: 1rem;
}

.bx {
    font-size: 20px;
    transform: translateX(-35px);
    cursor: pointer;
    width: auto;
}

.terms-label {
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.terms-label:hover {
    text-decoration: underline;
    color: #007BFF;
}

.cambio-contraseña {
    margin-top: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #3682d3;
}

.cambio-contraseña:hover {
    text-decoration: underline;
    color: #007BFF;
}


footer {
    background-color: rgb(2, 126, 243);
    color: rgb(196, 217, 237);
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a.footer-enlace:hover {
    text-decoration: underline;
    color: rgb(154, 233, 233);
}

