* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 100vh;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(2, 126, 243);
    border-bottom: 1px solid white;
}

.premium-btn {
    background-color: rgb(0, 104, 202);
    color: rgb(255, 251, 0);
    border: 2px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    margin-left: 75px;
}

.premium-btn:hover {
    background-color: rgb(0, 91, 175);
}

.header-marquee {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 10px;
    color: rgb(255, 251, 0);
}

.profile-search {
    display: flex;
    align-items: center;
}

.profile-btn {
    /*background-color: white;*/
    background-size: cover;
    border: 2px solid black;
    padding: 25px 25px;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 75px;
    color: black;
    background-image: url("../Imagenes/avatar.jpg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.search-bar {
    border: 2px solid black;
    text-align: center;
    padding: 8px 30px;
    border-radius: 20px;
    outline: none;
    transition: border-color 0.3s ease;
    margin-right: 20px;
}

.search-bar:focus {
    border-color: #3399cc;
}

#navegator {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(196, 217, 237)
}


.even-nav {
    width: 100%;
    display: flex;
}

.nav-buttons {
    flex: 1;
    background-color: rgb(196, 217, 237);
    cursor: pointer;
    color: black;
}
nav button:hover {
    background-color: rgb(180, 200, 219); /* Azul más oscuro al pasar el ratón */
}

.nav-buttons, .logo {
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}

nav .logo img {
    height: 75px;
    width: auto;
}
/* CABECERA */

.resaltar {
    background-color: #8c00ff; /* Color de fondo diferente, por ejemplo, un naranja */
    color: white; /* Texto en blanco */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.resaltar:hover {
    background-color: #480188; /* Un naranja más oscuro al pasar el ratón */
}

.progreso-compra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
    padding: 10px 0;
}

.etapa {
    text-align: center;
    flex: 1; /* Cada etapa ocupa el mismo espacio */
}

.etapa-icono {
    font-size: 2rem; /* Ajusta el tamaño del icono */
    margin-bottom: 5px; /* Espaciado debajo del icono */
    border: 1px solid #003366; /* Borde azul oscuro */
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    background-color: #f4f4f4; /* Fondo claro */
    transition: background-color 0.3s ease; /* Efecto al pasar el ratón */
}

.etapa-icono:hover {
    background-color: #3399cc; /* Cambia el color al pasar el ratón */
    color: white; /* Texto blanco al pasar el ratón */
}

p {
    margin-top: 5px; /* Espaciado entre el icono y el texto */
    color: #003366; /* Color del texto */
}
/* MAIN */
.container {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px auto;
}

.productos, .mensaje {
    padding: 20px;
    width: 50%;
}

.productos {
    border-right: 1px solid #ddd;
    margin-right: 5px;
}

.productos h2, .mensaje h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
}

.productos ul {
    list-style-type: none;
    padding: 0;
}

.productos ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
    font-size: 1.1em;
    color: #555;
}

.productos ul li:last-child {
    border-bottom: none;
}

.mensaje p {
    font-size: 1.2em;
    color: #555;
}
/*FIN MAIN */
/* FOOTER */
footer {
    background-color: rgb(2, 126, 243);
    color: rgb(196, 217, 237);
    text-align: center;
    padding: 10px;
    width: 100%;
    /*
        Poner el footer abajo de la pantalla fijo: position: fixed; bottom: 0;
    */
    position: fixed;
    bottom: 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a.footer-enlace:hover {
    text-decoration: underline;
    color: rgb(154, 233, 233);
}

