html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#header {
    display: flex;
    align-items: center;
    background-color: #4CAF50;
    height: 15%;
    padding: 0 20px;
}

.logo {
    height: auto;
    max-height: 80%;
    width: auto;
}

.header-title {
    color: white;
    font-size: 24px;
    margin: 0;
}

#central {
    display: flex;
    height: 72%;
}

#left-div {
    background-color: #f0f0f0;
    width: 50%;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
}

#div-texto{
    background-color: red;
    width: 80%;
    height: 80%;
    display: block;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    color: white;
    text-align: center;
    overflow-wrap: break-word;
    hyphens: auto;
    padding: 10px;
}

#right-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0;
    background-color: #e0e0e0;
}

.inner-div {
    height: auto;
    width: 70%;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.inner-inner-div {
    user-select: none;
    height: 20%;
    width: 100%;
    text-align: center;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

#div-iniciar-sesion, #div-crear-cuenta {
    display:block;
	border-style:solid;
	border-color:#bbb #888 #666 #aaa;
	border-width:3px 4px 4px 3px;
	width:9em;
	height:2em;
	background:#ccc;
	color:#333;
	line-height:2;
	text-align:center;
	text-decoration:none;
	font-weight:900;
}

#div-iniciar-sesion:hover, #div-crear-cuenta:hover {
    border-color: #666 #aaa #bbb #888;
	border-width:4px 3px 3px 4px;
	color:#000;
}

footer {
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#formulario {
    margin-top: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    height: 260px;
}

#formulario label {
    font-weight: bold;
}

#formulario input[type="email"],
#formulario input[type="password"] {
    margin: 5px 0;
    width: 100%;
}

#formulario button {
    padding: 10px 15px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#formulario button:hover {
    background-color: #5a2d99;
}

.terms-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}