main {
    padding: 20px;
}

#editar-rutina_creada {
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color del texto */
    border: none; /* Eliminar el borde predeterminado */
    padding: 10px 20px; /* Espaciado interno (padding) */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Hace que el botón se comporte como un elemento en línea */
    font-size: 16px; /* Tamaño de la fuente */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease; /* Transición suave al pasar el ratón */
}

#editar-rutina_creada:hover {
    background-color: #45a049; /* Color de fondo al pasar el ratón */
}


.rutinas{
    margin-top: 20px;
}

.recomendaciones,
.rutinas{
    background-color: rgb(188, 223, 255);
    padding: 20px;
    border-radius: 2%; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.recomendacion,
.rutina {
    width: calc(25% - 50px); 
    padding: 20px;
    background-color: rgb(228, 237, 247);
    color: #333;
    text-align: center;
    border: 1px solid #ccc;
    display: flex; 
    align-items: center; 
    justify-content: center;
    transition: transform 0.1s, box-shadow 0.1s, background-color 0.1s; /* Suaviza la transición al hacer clic */
    cursor: pointer;
}

.recomendacion:active,
.rutina:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #e0e0e0;
}

.recomendacion:hover,
.rutina:hover {
    background-color: rgb(204, 223, 244);
}

h2 {
    color: black;
    margin-bottom: 10px;
    text-decoration: underline;
}

.rutinas h2{
    margin-top: 2px;
}

.recomendaciones-container,
.rutinas-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

