main {
    display: flex;
    flex: 1;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor {
    width: 90%;
    margin: auto;
    text-align: center;
}

.contenedor h2 {
    margin-bottom: 15px;
}

.contenedor-buscador {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    margin-bottom: 20px;
}

#buscador-productos {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    font-size: 1rem;
}

.seccion-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.seccion-productos + h2 {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
}

.tarjeta-producto {
    width: 23%;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s ease;
}

.tarjeta-producto.oculto {
    display: none;
}

.imagen-producto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

 /* Precio base */
.precio-producto {
    font-weight: bold;
    margin-bottom: 10px;
}

 /* Precio tachado */
.precio-original {
    color: #999;
    font-size: 0.9em;
}

 /* Precio con descuento aplicado */
.nuevo-precio {
    color: red;
    font-weight: bold;
}


.boton-comprar {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-comprar:hover {
    background-color: #0056b3;
}

#ver-mas {
    padding: 10px 30px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#ver-mas:hover {
    background-color: #218838;
}